x









/* product.css */

.product-container {
    background-color: rgba(232, 222, 201, 0.871);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.individual-product-card {
    display: flex;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #2f2d2d;
    transform: scale(1.0);
    transition: transform 0.3s ease;
}

.individual-product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 71, 88);
    padding: 20px; 
}

.individual-product-image-wrapper {
    width: 100%;
    height: auto; 
    max-width: calc(100% - 40px); 
    max-height: calc(100% - 40px); 
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(22, 71, 88);
}

.individual-product-image {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 10px; 
}

.individual-product-content-container {
    padding: 20px;
    background-color: rgba(218, 224, 236, 0.85);
    flex: 1;
}

.individual-product-title,
.individual-product-price,
.individual-product-description,
.individual-product-rating-container,
.individual-product-rating-stars,
.individual-product-rating-value {
    margin: 0;
}

.individual-product-title {
    color: #5c3c14;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10px;
}

.individual-product-price {
    color: #895515;
    margin-bottom: 10px;
}

.individual-product-description {
    color: #674e40;
    margin-bottom: 10px;
}

.individual-product-rating-container {
    color: #5c3c14;
    margin-bottom: 10px;
}

.individual-product-rating-stars {
    color: #c58833;
}

.individual-product-rating-value {
    color: #895515;
    margin-bottom: 10px;
}

.individual-product-button {
    background-color: #D2B48C;
    color: #5c3c14;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.individual-product-button:hover {
    background-color: #895515;
    color: #fff;
}

.individual-product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.individual-product-button:hover {
    background-color: #895515;
    color: #fff;
}

.red-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(22, 71, 88);
    clip-path: polygon(0 0, 100% 0, calc(100% - 150px) 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px; 
}

.ribbon-content {
    color: #c58833; 
    font-size: 18px; 
    font-weight: bold;
    font-size: larger;
    font-family: 'Libre Baskerville', serif;
}
